*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    background-color: rgb(165,42,42,0.2);
}
nav{
    background-image: url(Main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    box-shadow: 0px , 0px, 8px black;
    margin-bottom: 40px;
     box-shadow: 0px 0px 8px black;
}
nav input{
    position: sticky;
    border-radius: 10px;
    height: 60px;
    background-color: rgb(99 ,18 ,18 ,1);
    width: 70%;
    margin-top: 60px;
    margin-left: 15%;
    color: white;
    padding: 10px;
    border: none;
}
input:focus{
    outline: none;
    background-color: rgb(99 ,18 ,18 ,0.9);
}
.coffee-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: centers;
}
.coffee-menu div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 0,0.8);
}
.image{
    width: 150px;
    height: 150px;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 8px 8px black;
}
img:hover{
    box-shadow: 0px 18px 18px black;
    height: 152px;
    width: 152px;
}
.coffee-menu div h4{
    margin-block: 15px;
}
.paragraph{
    width: 90%;
    margin: auto;
    margin-block: 50px;
    background-color: rgb(165,42,42,0.3);
    color: brown;
    box-shadow: 0px 0px 8px brown;
    border-radius: 5px;
    padding: 30px;
}
.paragraph p , .paragraph ol{
    line-height: 20px;
    color: brown;
}
ol li{
    padding: 5px;
}